/*body{
    background-color: #646464;
    text-align: center;
    canvas
    {
        background: url("Island.png") no-repeat;
        background-size: cover;
        border: 2px solid black;
        position: relative;
    }
}*/

h1{
    text-align: center;
    font-size: 50px;
}

h3{
    text-align: center;
    font-size: 25px;
}

h5{
    padding-left: 250px; 
    padding-right: 250px;
    font-size: 22px;
    font-weight: lighter;
}

.island{
    width: 1200px;
    height: 775px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.warPlane{
    width: 500px;
    height: 350px;
    position: absolute;
    top: 450px;
    right: 420px;
}

.butt1{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 860px;
    right: 175px;
}

.butt2{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 860px;
    right: 175px;
}